* {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  --black: rgb(240, 6%, 13%); /* "--" é uma declaração de variável*/
  --gray: hsl(240, 9%, 89%);
}

body {
  height: 100%;
  display: grid;
  place-items: center;
  /* o font-size padrão "rem" é 16px*/
}

main {
  position: relative;
  background-image: url('images/Mobile.png');
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--gray);
}

.avatar {
  position: relative;
  margin: 11.5rem auto 0; /*3 valores valores na margem => margin: top width bottom; ou 4 valores na margem => margin: top left right bottom */
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1; /* ajusta a profundidade (eixo z), sendo 0=fundo, 1=superfície */
}

.avatar > img {
  /* ">" especifica que está EXCLUSIVAMENTE no PRIMEIRO Nível dentro da tag */
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /* esse cover ajusta a imagem para ficar proporcional, mas sem defomações, recortando e perdendo informação */
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%)
    /* ajusta as medidas baseadas nos vértices, altura e largura */;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: rgb(92, 88, 88);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

p {
  margin-top: 2rem;
}

ul {
  list-style-type: none;
  margin-top: 4rem;
  padding: 0;
  display: flex;
  flex-direction: row; /* ajusta a direção do conteúdo, sendo ROW ou COLUMN */
  gap: 0.5rem; /* Literalmente o Gap entre os ítens da lista */
  justify-content: center; /* Funciona com o display:FLEX */
}
