* {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  --black: rgb(0, 6%, 13%); /* "--" é uma declaração de variável*/
  --gray: hsl(240, 9%, 89%);
}

body {
  height: 100%;
  display: grid;
  place-items: center;
  background: black;
  /* o font-size padrão "rem" é 16px*/
}

main {
  background: url(images/Mobile.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
  animation-name: backImg;
  animation-duration: 1.9s;
  animation-timing-function: ease;
}

@keyframes backImg {
  from {
    height: 400%;
  }

  to {
    height: 100vh;
  }
}

.break{
 position: absolute;
  top:-100rem;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--gray);
  animation: preFade 1.5s;
}

@keyframes preFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

.container > * {
  animation: itemsFadeIn 1s ease-in 1.5s;
}

@keyframes itemsFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.avatar {
  position: relative;
  margin: 11.5rem auto 0; /*3 valores valores na margem => margin: top width bottom; ou 4 valores na margem => margin: top left right bottom */
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1; /* ajusta a profundidade (eixo z), sendo 0=fundo, 1=superfície */
}

.avatar > img {
  /* ">" especifica que está EXCLUSIVAMENTE no PRIMEIRO Nível dentro da tag */
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /* esse cover ajusta a imagem para ficar proporcional, mas sem defomações, recortando e perdendo informação */
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%)
    /* ajusta as medidas baseadas nos vértices, altura e largura */;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: rgb(92, 88, 88);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

p {
  margin-top: 2rem;
}

ul {
  list-style-type: none;
  margin-top: 2rem;
  padding: 0;
  display: flex;
  flex-direction: row; /* ajusta a direção do conteúdo, sendo ROW ou COLUMN */
  gap: 0.5rem; /* Literalmente o Gap entre os ítens da lista */
  justify-content: center; /* Funciona com o display:FLEX */
}

@media (min-width: 720px) {
  /* estilos versão tablet */
  h1,
  p,
  span {
    font-size: 2rem;
  }

  main {
    background-image: url(images/Tablet.svg);
    display: flex;
    align-items: center;
  }

  .break{
    opacity: 0;
  }

  .container {
    max-width: 500px;
  }

  .avatar > img {
    width: 15rem;
    height: 17.25rem;
  }

  .avatar > span > img {
    width: 120px;
    height: 120px;
  }

  ul {
    gap: 1.5rem;
    margin-top: 5rem;
  }

  #userGitHubLink > img {
    width: 24px;
    height: 27px;
  }

  #socialLinks img {
    width: 84px;
    height: 84px;
  }

  @keyframes backImg {
    from {
      height: 300vh;
      width: 100vw;
    }

    to {
      height: 100vh;
      width: 100vw;
    }
  }

  @keyframes preFade {
    from {
      opacity: 0;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes itemsFadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@media (min-width: 960px) {
  /* estilos versão desktop */
 
  main {
    background-image: url(images/Desktop.svg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tape{
    width: 64px;
    height: 158px;
    background-image: url(images/tape.svg);
    position: absolute;
    left:auto;
    right: auto;
    bottom: auto;
    top:0;
    z-index: 2;
    animation: tapeIn 1s ease;
  }

  @keyframes tapeIn {
    from{
      top:-158px;
      opacity: 0;
    }
  }

  .break{
    position: relative;
    top:0;
    opacity: 1;
    margin: 18px auto 0;
    height: 16px;
    z-index: 1;
  }
  .container {
    position: absolute;
    top:138px;
    width: 358px;
    height: 540px;
    background-image: url(images/mask.svg);
    opacity: 1;
    animation: containerIn 1.5s ease;
  }

 @keyframes containerIn {
   from{
     top:300px;
     opacity: 0;
   }
   to{
   }
 }

  .avatar {
    position: relative;
    top:-8.5rem;
  }

  .avatar > img {
    width: 10rem;
    height: 11.5rem;
  }

  .avatar span > img{
    width: 4.5rem;
    height: 4.5rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: -7rem;
  }

  #userGitHubLink img{
    width:1rem;
    height: 1rem;
  }

  span{
    font-size: 1rem ;
  }

  p{
    margin: 1.7rem auto;
    font-size: 1rem;
    width: 16.375rem;
    height: 3rem;
  }

  ul {
    gap: 0.5rem;
    margin: 2.7rem auto 2rem;

  }

  #socialLinks img {
    width: 2.5rem;
    height: 2.5rem;
  }

  @keyframes backImg {
   0
  }

  @keyframes preFade {
    0
  }

  @keyframes itemsFadeIn {
    0
  }

}
